<!doctype html>
<html lang="zn">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/person.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/popper.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="icon" sizes="76x76" href="img/icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/micon.png">
<script src="js/vue.min.js"></script>
<script src="js/vue-resource.min.js"></script>
<title>个人信息</title>
<style type="text/css">
a {
	text-decoration: none;
	color: #808080;
}

a:hover {
	color: rgb(188, 188, 188);
	text-decoration: none;
}
</style>
</head>
<body>
	<div id="header">
		<div class="menu" id="getUser">
			<a v-if="user!=''"><font color=red>{{user}}</font>&nbsp;&nbsp;</a> <span
				class="dropdown">
				<button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
					data-toggle="dropdown"
					style="color: #808080; background: RGB(51, 51, 51); border: 0;">设置</button>
				<span class="caret"></span>
				<ul class="dropdown-menu" role="menu"
					aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">个人中心</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">评价晒单</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">我的喜欢</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">小米账户</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#" v-on:click="logout()">退出登录</a></li>
				</ul>
				<button type="button"
					onclick="javascrtpt:window.location.href='shopcart.html'"
					class="btn_g"
					style="width: 100px; height: 40px; border: 0; background: #ff6700; color: #fff;">购物车</button>
				<div style="clear: both;"></div>
		</div>
		<div class="top">
			<a href="index.html"><img src="img/logo.png"
				style="width: 220px; height: 80px; margin-left: 340px;"></a>
			<div class="navbar fl-rg" id="topMenu" style="width: 1040px;">
				<ul class="clearfix" v-for="cate in categorys">
					<li><a href="product/index.html">{{cate.cname}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
	<div id="content">
		<div style="height: 30px; width: 100%;"></div>
		<div
			style="width: auto; height: 800px; float: left; margin-left: 340px;">
			<div style="clear: both;"></div>
			<div class="box_left">
				<ul class="fix">
					<li><a href="#">个人中心</a></li>
					<li><a href="order.html">我的订单</a></li>
				</ul>
			</div>
			<div class="box_right" id="getUser">
				<img src="img/user.jpg" class="img_head" border="0" alt=""> <span
					style="width: 70px; height: 50px; padding: 5px; position: absolute; top: 44%; left: 53%;">{{user}}</span>
				<table class="table" border="0">
					<thead>
						<tr>
							<th width="6%"></th>
							<th>昵称</th>
							<th>性别</th>
							<th>生日</th>
							<th>身份证号码</th>
							<th>Email</th>
							<th>手机</th>
							<th>地址</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="6%"></td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
						</tr>
						<tr>
							<td width="6%"></td>
							<td><input id="ipt1" class="ipt_1" type="text"
								placeholder="昵称" /></td>
							<td><input id="ipt1" class="ipt_1" type="text"
								placeholder="性别" /></td>
							<td><input id="ipt1" class="ipt_1" type="text"
								placeholder="生日" /></td>
							<td><input id="ipt1" class="ipt_1" type="text"
								placeholder="身份证号码" /></td>
							<td><input id="ipt1" class="ipt_1" type="Email"
								placeholder="Email" /></td>
							<td><input id="ipt1" class="ipt_1" type="text"
								placeholder="手机" /></td>
							<td><input id="ipt1" class="ipt_1" type="text"
								placeholder="地址" /></td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn_b">保存</button>
			</div>
		</div>
	</div>
	<script src="js/function.js"></script>
</body>
</html>
