<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="js/jquery.min.js"></script>
<script src="js/vue.min.js"></script>
<script type="text/javascript">
$.get("/category/findAll",function(data1,status1){
	$.get("/categorysecond/findAll",function(data2,status2){
		var table = new Vue({
			el:'#flei',
			data:{
				categorys:data1,
				categoryseconds:data2,
			}
		});
	});
	
});
</script>
</head>
<body>
<div class="flei" id="flei">
		<template v-for="category in categorys">
			<div class="maintip">
			<a href="#">{{category.cname}}</a>
				<!-- <a href="#"><strong style="color: #fff;">{{category.cid}}</strong></a> -->
			</div>
 			<div class="tips">
				<template v-for="cas in categoryseconds">
					<p v-if="cas.cid==category.cid">
						<a href="http://www.baidu.com">{{cas.csname}}</a>
					</p>
				</template>
			</div>
		</template>
			
		</div>
</body>
</html>