<!DOCTYPE HTML>
<html>
<head>
<title>登录</title>
<link href="../css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/icon.png">
<link rel="icon" type="image/png" sizes="96x96"
	href="assets/img/micon.png">
<script src="assets/js/vue.min.js"></script>
<script src="assets/js/vue-resource.min.js"></script>
<script>
	var __links = document.querySelectorAll('a');
	function __linkClick(e) {
		parent.window.postMessage(this.href, '*');
	};
	for (var i = 0, l = __links.length; i < l; i++) {
		if (__links[i].getAttribute('data-t') == '_blank') {
			__links[i].addEventListener('click', __linkClick, false);
		}
	}
</script>
<script src="../js/jquery.min.js"></script>
</head>
<body>
	<!-- contact-form -->
	<div class="message warning">
		<div class="inset">
			<a href="../index.html"><img src="../img/logo.png" /></a>
			<div class="login-head">
				<h1>管理员登录</h1>
				<!-- <div class="alert-close"> </div> -->
			</div>
			<div class="form" id="login">
				<li><input type="text" v-model="username"
					placeholder="UserName" id="username" class="text"
					onfocus="this.value = '';"
					onblur="if (this.value == '') {this.value = 'UserName';}">
					<a href="#" class=" icon user"></a></li>
				<div class="clear"></div>
				<li><input type="password" v-model="password"
					placeholder="Password" id="password" onfocus="this.value = '';"
					onblur="if (this.value == '') {this.value = 'Password';}">
					<a href="#" class="icon lock"></a></li>
				<div class="clear"></div>
				<div class="submit">
					<input type="submit" v-on:click="login()" value="Sign in">
					<h4>
						<a href="index.html">返回</a>
					</h4>
					<h4>
						<a href="../index.html">忘记密码 ?</a>
					</h4>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!--- footer --->
	<div class="footer">
		<p>
			<font color="black">Copyright &copy; 2019</font>
		</p>
	</div>
	<script src="assets/js/function.js"></script>
</body>
</html>