html,body,dl,dd,h1,h2,h3,h4,h5,h6,p,form{margin:0;padding:0;
}
ol,li,ul{margin:0;padding:0;list-style:none;}
a{text-decoration:none;}
#header{
	width:100%;
	height:100px;
	border-bottom:2px solid rgb(255,103,0);
	background:#fff;
	box-shadow:0 5px 5px #ddd;
}
.title{
	width:1226px;
	height:80px;
	float:left;
	margin-left:340px;
	margin-top:10px;
}
.menu{
	margin-left:86%;
	margin-top:-40px;
	background:#fff;
}
#content{
	width:100%;
	height:1260px;;
	background:#efefef;
}
.box{
	width:1226px;
	height:400px;
	background:#fff;
	position:absolute;
	top:140px;
	left:340px;
}
.tab{
	border-bottom:2px solid rgb(235,235,235);
}
.tab thead{
	background-color: #fff;
	color: #000;
}
.tab thead th{
	padding: 10px 0;
	font-weight: normal;
}
.tab td{
	text-align: center;
	padding: 10px 0;
}
.check0{
	width:15px;
	height:15px;
	margin-top:7px;
}
.box1{
	width:1226px;
	height:50px;
	background:#fff;
	position:absolute;
	top:560px;
	left:340px;
}
.yuan{
	line-height:45px;
	color:#ff6700;
	position:absolute;
	left:70%;
}
.btn_js{
	height:50px;
	width:200px;
	background:#ff6700;
	color:#fff;
	border-radius:0px;
	float:right;
	margin-right:0;
	border:0;
}
.btn_js:hover{
	background:rgb(242,88,7);
}
/*.rec_title{
	position:absolute;
	top:660px;
	left:750px;
    height: 50px;
    font-size: 30px;
    font-weight: 400;
    color: #757575;
    -webkit-font-smoothing: antialiased;
}*/
.rec_title{
	text-align: center;
	position: relative;
	top:550px;
	font-weight: normal;
	margin-bottom: 30px;
	color: #757575;
}
.rec_title:after,.rec_title:before{
	content: '';
	position: absolute;
	top: 50%;
	width: 20%;
	background: #808080;
	height: 2px;
}
.rec_title:before{
	left: 340px;
}
.rec_title:after{
	right: 340px;
}
.box2{
	width:1236px;
	height:630px;
	/*border:1px solid red;*/
	position:absolute;
	top:720px;
	left:340px;
}
.box_1,.box_2,.box_3,.box_4,.box_5,.box_6,.box_7,.box_8,.box_9,.box_10{
	width:235px;
	height:300px;
	background:#fff;
	float:left;
	margin:5.5px;
}
.box_1:hover,.box_2:hover,.box_3:hover,.box_4:hover,.box_5:hover,.box_6:hover,.box_7:hover,.box_8:hover,.box_9:hover,.box_10:hover{
	/*margin-top:1px;*/
	box-shadow:0 5px 5px #ddd;
}