<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="layui/css/layui.css" media="all" />
<link rel="stylesheet" href="css/xiaomidisplay.css" media="all" />
<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script type="text/javascript" src="layui/layui.js" charset="UTF-8"></script>
<script src="../js/jquery.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="js/vue-resource.min.js"></script>
<link rel="icon" sizes="76x76" href="../img/icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="../img/micon.png">
<title>产品</title>
<style type="text/css">
a {
	text-decoration: none;
	color: #808080;
}

a:hover {
	color: #fff;
	text-decoration: none;
}
</style>
</head>
<body>
	<!-- 注册 -->
	<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	     	<h3 class="modal-title" id="modal-register-label">注册</h3>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      </div>
	      <div class="modal-body">
	          <div>
	            <label for="recipient-name" class="control-label">用户名:</label>
	            <input type="text" class="form-control" v-model="username" placeholder="UserName">
	          </div>
	          <div class="form-group">
	            <label for="recipient-name" class="control-label">密码:</label>
	            <input type="password" class="form-control" v-model="password" placeholder="Password">
	          </div>
	          <div class="form-group">
	            <label for="recipient-name" class="control-label">邮箱:</label>
	            <input type="email" class="form-control" v-model="email" placeholder="Email">
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
	        <button type="button" v-on:click="register()" class="btn btn-primary">注册</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 注册 End -->
	<div id="header">
		<div class="menu">
			<a href="../seller/index.html">卖家</a>&nbsp;&nbsp;
			<a href="../admin/index.html">管理员</a>&nbsp;&nbsp;
			<a href="index.html">产品</a>&nbsp;&nbsp;
			<a href="../login.html">登录</a>&nbsp;&nbsp;
			<a href="" data-toggle="modal" data-target="#register">注册</a>
			<span class="dropdown">
				<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" style="color: #808080;">客户服务</button>
				<span class="caret"></span>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">帮助中心</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">售后服务</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">在线客服</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">投诉中心</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">客服邮箱</a></li>
				</ul>
			</span>
			<div style="clear: both;"></div>
		</div>
	</div>
	<div id="content">
	<!-- header1 -->
		<div class="head1">
			<a href="../index.html"><img src="../img/logo.png" style="width:220px;height:80px;"></a>
			<div class="navbar fl-rg" id="topMenu">
				<ul class="clearfix" v-for="cate in categorys">
					<li><a href="#">{{cate.cname}}</a></li>
			<!-- 		<li><a href="#">红米</a></li>
					<li><a href="#">平板·笔记本</a></li>
					<li><a href="#">电视</a></li>
					<li><a href="#">盒子·影音</a></li>
					<li><a href="#">路由器</a></li>
					<li><a href="#">智能硬件</a></li>
					<li><a href="#">服务社区</a></li> -->
				</ul>
			</div>	
<!-- 			<div class="ss">
				<form method="post">
					<input type="text" class="ss_in" placeholder="搜你想搜" />
					<input type="submit" class="ss_bt" value="搜索" />
				</form>
			</div> -->
		</div>
		<!-- header1 end -->
	</div>
	<div class="layui-carousel" id="test10" style="margin-top:-444px;">
		<div carousel-item="">
			<div>
				<img width="2560" height="620" src="img/x01.jpg"
					style="margin-left: -600px" />
			</div>
			<div>
				<img width="2560" height="620" src="img/x02.jpg"
					style="margin-left: -600px" />
			</div>
		</div>
	</div>
	<div id="showProducts">
		<div class="topic01">
			<h2 class="min">明星产品</h2>
		</div>
		<div class="content01">
			<div class="content01-left">
				<a class="exposure"><img class="J_lazy" alt="小米8 青春版" style="background-color: #C4BFD0;" src="img/content-left.jpg" /></a>
			</div>
			<div class="content01-right">
				<h3 class="title">小米8 青春版</h3>
				<p class="desc">潮流镜面渐变色，2400万自拍旗舰</p>
				<p class="price">
					<strong>1399</strong>元起
				</p>
				<p class="link">
					<a>了解产品></a>
				</p>
			</div>
		</div>
		<div v-for="product in products">
			<div v-if="product.status==0">
				<div class="row2" style="float:left;margin-left:12%;">
					<div class="row2-c1" >
						<div class="row2-c1img">
							<a><img width="606px" height="358px" v-bind:src="product.image" /></a>
						</div>
						<div class="row3">
							<h3 class="title">{{product.pname}}</h3>
							<p class="desc">{{product.descs}}</p>
							<p class="price">
								<strong>{{product.storeprice}}</strong>元起
								<del>{{product.marketprice}}元</del>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		layui.use([ 'carousel', 'form' ],
				function() {
					var carousel = layui.carousel, form = layui.form;
					//图片轮播
					carousel.render({
						elem : '#test10',
						width : '100%',
						height : '620px',
						interval : 5000
					});

					//事件
					carousel.on('change(test4)', function(res) {
						console.log(res)
					});

					var $ = layui.$, active = {
						set : function(othis) {
							var THIS = 'layui-bg-normal', key = othis
									.data('key'), options = {};

							othis.css('background-color', '#5FB878').siblings()
									.removeAttr('style');
							options[key] = othis.data('value');
							ins3.reload(options);
						}
					};

					//监听开关
					form.on('switch(autoplay)', function() {
						ins3.reload({
							autoplay : this.checked
						});
					});

					$('.demoSet').on('keyup', function() {
						var value = this.value, options = {};
						if (!/^\d+$/.test(value))
							return;

						options[this.name] = value;
						ins3.reload(options);
					});

					//其它示例
					$('.demoTest .layui-btn').on('click', function() {
						var othis = $(this), type = othis.data('type');
						active[type] ? active[type].call(this, othis) : '';
					});
				});
	</script>
	<script src="js/function.js"></script>
</body>
</html>
